/* Background color of main div */
#main-div {
  background-color: #f5f5f5;
}

.col-main-section {
  margin-top: 20px;
}

.col-region-graph {
  margin-top: 25px;
}

.row-main {
  padding-left: 3.3%;
  padding-right: 3.3%;
}

.row-main.graph-section {
  padding-bottom: 20px;
}

.row-adder {
  padding: 20px 12px 20px 12px;
  height: 21.875rem;
}

.row-graph {
  margin-top: 0.938rem;
}

#row-ticker {
  margin-top: 20px;
}

.spinner-border {
  color: #2ec4b6; 
}
